
bin
logs
sandbox
out



# These are copied from lib to the root folder when using LIVE_EDITING (build.bat).
# They should only temporarily be in the root folder though.
glfw3.dll
glew32.dll

*.ilk
*.obj
*.o
*.pdb
*.log
*.exe
*.game_state

!libs/**
